.cpr_w
  .cpr
    .cpr_hd
      %a.cpr_t{:href => "#", :target => "_blank"}        
        %img._logo{:src => "./images/logo.png", :alt => ""}/
      %span.cpr_ud 2017.07.03 更新
    %ul.cpr_ct
      %li
        %a.rec_card{:href => "",:title => "信用卡優惠"}
          %i.icon.icon-credit-card
        %a.cpr_i.tooltip{:href => "http://www.myfone.com.tw/buy/index.php?action=product_detail&prod_no=P0000200819844&prod_sort_uid=13827&mkwid=8ifW5Qaz", :target => "_blank", :title => "myfone購物"}
          .cpr_s myfone購物
          .cpr_p $16,900
          %span.tooltip_img
            %i.pd_img
              %img{:src => "./images/pd1.jpg"}
            %h3 【TATUNG 大同】《1+1超值組》14吋電暖器(TAH-14TA)+10吋電暖器(TAH-10L)
      %li
        %a.rec_card{:href => ""}
          %i.icon.icon-credit-card
        .cpr_i._crt
          .cpr_s 愛買線上購物
          .cpr_p $17,900
          .cpr_g.tag_e 
            %span.tag_word 貴5.9%
      %li
        %a.rec_card{:href => ""}
          %i.icon.icon-credit-card
        %a.cpr_i.tooltip{:href => "http://www.savesafe.com.tw/Products/ProductView.aspx?t_s_id=&s_id=0b9f30ff022a0f5112291092ada5b53d&rd=1", :target => "_blank", :title => "大買家網路量販店"}
          .cpr_s 大買家網路量販店
          .cpr_p $18,500
          %span.tooltip_img
            %i.pd_img
              %img{:src => "./images/pd1.jpg"}
            %h3 【TATUNG 大同】《1+1超值組》14吋電暖器(TAH-14TA)+10吋電暖器(TAH-10L)
    .cpr_ft
      全新功能，點擊
      %i.icon.icon-credit-card
      馬上看信用卡回饋！
  .cpr_btn
    .cpr_love
      %i.icon.icon-heart-line
      比價收藏
      / %i.icon.icon-heart-filled
      / 已收藏
    .cpr_notice
      %i.icon.icon-bell-line
      /%i.icon.icon-bell-filled
      降價提醒
      / .notice_dropdown
      /   %span.notice_word 橘點為必填欄位
    %a.cpr_detail{:href => "",:title => "詳細比價"}
      %i.icon.icon-login
      詳細比價
  %form.cpr_feeback
    .q_area
      %span.q_text 比價結果對您有幫助？
      %a.btn_yes
        %i.icon.icon-happy
        是
      %a.btn_no
        %i.icon.icon-sad
        否
      %a.link_suggest 意見回饋
    .yes_area
      %i.icon.icon-happy 
      感謝您的回饋，我們將持續進步
    .no_area_form1
      %input.input_idea{:type => "text",:placeholder => "請說明您的問題或分享您的想法"}
      %button.btn_next 下一步
      %button.btn_pass 略過
    .no_area_form2
      %input.input_idea{:type => "text",:placeholder => "請輸入您的email，讓我們方便回覆您！"}
      %button.btn_next 送出
      %button.btn_pass 略過
    .no_area
      %i.icon.icon-happy
      感謝您的回饋，我們將盡快排除錯誤
  .cpr_desc 
    %span.desc_text 貼心提醒：價格資訊僅供參考，完整優惠資訊以各平台刊登為主。

.rec_card_popup
  .popup_content
    .popup_header
      .card_title
        %i.icon.icon-credit-card
        信用卡回饋
      .shop_dropdown_area
        %i.icon_arrow
        %a.input_choice{:href => ""} Yahoo奇摩購物中心
        %ul.dropdown_menu
          %li
            %a{:href => "#"} momo購物網
          %li
            %a{:href => "#"} UDN買東西
          %li
            %a{:href => "#"} PChome線上購物
          %li
            %a{:href => "#"} momo富邦購物館
          %li
            %a{:href => "#"} Yahoo超級商城
          %li
            %a{:href => "#"} friDay購物
          %li
            %a{:href => "#"} myfone購物
      .pd_area
        .pd_price 33,500
        .pd_name Apple iPhone 7 PLUS 256G 5.5吋智慧型手機(超值組)
    .popup_bank_area
      .bank_area
        .bank_dropdown_area
          %i.icon_arrow
          %a.input_choice{:href => ""} 021花旗銀行
          %ul.dropdown_menu
            %li
              %a{:href => "#"} 021花旗銀行
            %li
              %a{:href => "#"} 024運通銀行
            %li
              %a{:href => "#"} 025首都銀行
            %li
              %a{:href => "#"} 039荷蘭銀行
            %li
              %a{:href => "#"} 040中華開發
            %li
              %a{:href => "#"} 050臺灣企銀
            %li
              %a{:href => "#"} 051臺灣企銀
        %ul.rec_list
          %li.bank_rec
            %span.bank_rec_text 花旗現金回饋悠遊卡 免年費！ 購物/捷運/高鐵/加油 再拿10%回饋
            %a.bank_rec_link{:href => ""} 
              申辦
              %i.icon.icon-right-arrow
          %li
            %a{:href => "#"}
              週日花旗日．單筆滿
              %span.bank_spec 1288
              送
              %span.bank_spec 100
              刷卡金
          %li
            %a{:href => "#"}
              %span.bank_spec 84
              折．累積滿
              %span.bank_spec 3,000
              送
              %span.bank_spec 5%
              刷卡金
          %li
            %a{:href => "#"}
              週日花旗日．單筆滿
              %span.bank_spec 1288
              送
              %span.bank_spec 100
              刷卡金
          %li
            %a{:href => "#"}
              %span.bank_spec 84
              折．累積滿
              %span.bank_spec 3,000
              送
              %span.bank_spec 5%
              刷卡金
      .bank_area
        .bank_dropdown_area2
          %i.icon_arrow
          %a.input_choice{:href => ""} 050臺灣企銀
          %ul.dropdown_menu
            %li
              %a{:href => "#"} 021花旗銀行
            %li
              %a{:href => "#"} 024運通銀行
            %li
              %a{:href => "#"} 025首都銀行
            %li
              %a{:href => "#"} 039荷蘭銀行
            %li
              %a{:href => "#"} 040中華開發
            %li
              %a{:href => "#"} 050臺灣企銀
            %li
              %a{:href => "#"} 051臺灣企銀
        %ul.rec_list
          %li.bank_rec
            %span.bank_rec_text 花旗現金回饋悠遊卡 免年費！ 購物/捷運/高鐵/加油 再拿10%回饋
            %a.bank_rec_link{:href => ""} 
              申辦
              %i.icon.icon-right-arrow
          %li
            %a{:href => "#"}
              週日花旗日．單筆滿
              %span.bank_spec 1288
              送
              %span.bank_spec 100
              刷卡金
          %li
            %a{:href => "#"}
              %span.bank_spec 84
              折．累積滿
              %span.bank_spec 3,000
              送
              %span.bank_spec 5%
              刷卡金
          %li
            %a{:href => "#"}
              週日花旗日．單筆滿
              %span.bank_spec 1288
              送
              %span.bank_spec 100
              刷卡金
          %li
            %a{:href => "#"}
              %span.bank_spec 84
              折．累積滿
              %span.bank_spec 3,000
              送
              %span.bank_spec 5%
              刷卡金
      .bank_area._last
        .bank_dropdown_area3
          %i.icon_arrow
          %a.input_choice{:href => ""} 請選擇銀行
          %ul.dropdown_menu
            %li
              %a{:href => "#"} 
                021花旗銀行
              %span.bank_act 花旗現金回饋悠遊卡 免年費！購物/捷運/高鐵/加油 再拿10%回饋
            %li
              %a{:href => "#"} 024運通銀行
            %li
              %a{:href => "#"} 025首都銀行
            %li
              %a{:href => "#"} 039荷蘭銀行
            %li
              %a{:href => "#"} 040中華開發
            %li
              %a{:href => "#"} 050臺灣企銀
            %li
              %a{:href => "#"} 051臺灣企銀
            %li
              %a{:href => "#"} 051臺灣企銀
            %li
              %a{:href => "#"} 051臺灣企銀
        .bank_empty_state
          %img{:src => "./images/bank_empty.png"}
        %span.empty_text 目前沒有相關優惠，換其他銀行看看～
  %span.popup_close ✕
.love_popup
  .popup_content
    %span.popup_title
      %i.icon.icon-heart-filled
      已加入收藏
    %span.pd_img
      %img{:src =>"./images/pd_img.jpg"}
    %span.pd_name
      Apple iPhone 7 PLUS 256G 5.5吋智慧型手機(超值組)
    %span.pd_price
      33,500
    %span.pd_platform
      Yahoo奇摩購物中心
.notice_popup
  .popup_content
    %span.popup_title
      %i.icon.icon-bell-filled
      已加入降價提醒
    %span.pd_img
      %img{:src =>"./images/pd_img.jpg"}
    %span.pd_name
      Apple iPhone 7 PLUS 256G 5.5吋智慧型手機(超值組)
    %span.pd_price
      33,500
    %span.pd_platform
      Yahoo奇摩購物中心
